body{
    height: 100%;
}
.storyimg{
    width: 100%;
    min-width: 100px; /*480px;*/
    display: block;
    margin: auto;
    
}
.megj{
    flex: 1 0 4fr;
}
.storystore{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    margin: auto;
    width: 60%;
    border: 1px solid black;
}
.storystore > .storydiv{
    flex: 1 0 41%;
    width: 25%;
    margin:  5px;
    border: 1px solid black;
}

#story{
    
}
.flex-container{
    display: flex;
}
.lepteto{
    flex: 1 0 1fr;
    margin: auto;
}

