.storyimg{
    width: 25%;
    min-width: 480px;
    
}
article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
article > .storydiv{
    flex: 0 0 20%;
}
.story{
    border: 1px;
}